.container{
    display: flex;
    flex-direction: column;
}

nav{
    background: rgb(39, 39, 57);
    height: 60px;
    padding: 3px 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    width: 98.7%;
    display: flex;
}
.title{
    width: 50%;
    margin: 20px;
}
.navlinks{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
}
a{
    margin-right: 15px;
    color: white;
    text-decoration: none;
} 
a::after{
    color: rgb(136, 92, 5);
}
.home{
    
    width: 100%;
    background-image: url("./20230522_1015182.jpg");
    height: 500px;
    /* border-image-repeat: repeat; */
    opacity: 90%;

}
img{
    width: 100%;
}
.cards{
    display: flex;
    flex-direction: row;
}
.card{
    width: 50%;

}


h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 85px;

}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-bottom: 600px;

}

button{
    margin: 35px;
    padding: 5px;
    width: 120px;
    height: 40px;
    background: rgb(73, 59, 29);
    border: none;
    opacity: 70%;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.content{
    background: rgb(39, 39, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}
span{
    color: rgb(136, 92, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}

.history{
    text-align: center;
    padding: 35px;
}

.btn{
    background: gray;
}

.reserve{
    width: 100%;
    background-image: url("itEUzGIHlY.png");
    opacity: 90%;
    
}
.res{
    color: rgb(39, 39, 57);
    padding: 35px;
    border: 4px solid white;
    background: #fff;
    text-align: start;
    opacity: 70%;
}